<div class="wallpaper">
  <div #child{{index}} class="card"
       [ngClass]="{
            'card25':p.width==1,
            'card50':p.width==2,
            'card75':p.width==3,
            'card100':p.width==4,
            'height1':p.height==1}" *ngFor="let p of portlets;let index = index;">
    <div class="box">
      <div class="box-title">
        <p>{{p.name}}</p>
      </div>
      <div class="box-body" [ngSwitch]="p.portletType">
        <app-cygn *ngSwitchCase="3"></app-cygn>
        <jhi-datastatistics *ngSwitchCase="4"></jhi-datastatistics>
        <jhi-datastatistics2 *ngSwitchCase="41"></jhi-datastatistics2>
        <jhi-datastatistics3 *ngSwitchCase="42"></jhi-datastatistics3>
        <jhi-recovery *ngSwitchCase="5"></jhi-recovery>
        <jhi-copyrate *ngSwitchCase="6"></jhi-copyrate>
        <jhi-paymentmethod *ngSwitchCase="7"></jhi-paymentmethod>
        <jhi-waterquality *ngSwitchCase="8"></jhi-waterquality>
        <jhi-charge *ngSwitchCase="9"></jhi-charge>
        <jhi-chargemoney *ngSwitchCase="10"></jhi-chargemoney>
        <jhi-blankreports *ngSwitchCase="0"></jhi-blankreports>
      </div>
    </div>
  </div>
</div>
