<div class="wallpaper" [ngClass]="{'inmodal':parentComponent == 'cygnComponent'}">
  <div class="card card100">
    <div class="box">
      <div class="dialog-title">
        <p>选择替换功能</p>
        <span class="pxgz">排序规则</span>
        <p-inputSwitch [styleClass]="'my-switch'" onLabel="自定义"
                       offLabel="使用频率"  [(ngModel)]="pxgz" (onChange)="handleChange($event)" ></p-inputSwitch>
      </div>
      <div class="my-container" [ngClass]="{'hid':!pxgz}">
        <div class="app-group" *ngFor="let apps of allApps;let index = index;">
          <div class="group-name">{{apps.AppsTitle}}</div>
          <div class="group-body">
            <dl class="app " *ngFor="let app of apps.Apps;let index = index ;">
              <div (click)="goApp(app,$event)">
                <span class="target"> </span>
                <dt class="dttarget"><img class="imgtarget" [src]="app.imgSrc" alt=""></dt>
                <dd class="ddtarget">{{app.name}}</dd>
              </div>
            </dl>
            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div class="dialog-footer text-center">
        <a class="btn btn-default" (click)="commitCygnApps()"> 确 认 </a>
      </div>
    </div>
  </div>
</div>

<!--<button *ngFor="let app of applists;let index = index" (click)="goApp(app)"> {{app.name}}</button>-->
<!--<button (click)="qkfzly()">清空辅助路由 workspace组件内容</button>-->
