<div [ngClass]="{'componentHidden':navtabService.selectId!=this.appid}">
    <form class="form">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>客户编码</label>
                    <input type="text" class="form-control" name="counterchargesUserCode"
                           placeholder="客户编码">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>客户名称</label>
                    <input type="text" class="form-control" name="counterchargesUserName"
                           placeholder="客户名称">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>客户地址</label>
                    <input type="text" class="form-control"
                           name="counterchargesUserAddr" placeholder="客户地址">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>手机号</label>
                    <input type="text" class="form-control"
                           name="counterchargesUserPhone" placeholder="手机号">
                </div>
            </div>
        </div>
        <div class="my-btn-group">
            <button pButton type="button" label="查询" class="ui-button-info" icon="fa-search"
                    iconPos="left" (click)="cxUserPay()"></button>
        </div>
    </form>
    <p-dataTable [style]="{'textAlign':'center'}" [tableStyleClass]="'table-yj'" [value]="UserPay"
                 selectionMode="single"
                 [(selection)]="selectedUserPay"
                 (onRowSelect)="onUserPayRowSelect()">
        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
        <p-column field="khbm" header="客户编码"></p-column>
        <p-column field="khmc" header="客户名称"></p-column>
        <p-column field="yyhbm" header="营业户编码"></p-column>
        <p-column field="lcdbm" header="量测点编码"></p-column>
        <p-column field="kzsl" header="开账水量"></p-column>
        <p-column field="qfje" header="欠费金额"></p-column>
        <p-column field="cbh" header="册本号"></p-column>
        <p-column field="zwn" header="账务年"></p-column>
        <p-column field="zwy" header="账务月"></p-column>
        <p-column field="yjje" header="一阶金额"></p-column>
        <p-column field="ejje" header="二阶金额"></p-column>
        <p-column field="sjje" header="三阶金额"></p-column>
        <p-column field="sswyj" header="实收违约金"></p-column>
        <p-column field="jmwyj" header="减免违约金"></p-column>
        <p-column field="yswyj" header="应收违约金"></p-column>
        <p-column field="kzrq" header="开账日期"></p-column>
        <p-column field="ysxz" header="用水性质"></p-column>
        <p-column field="cbzt" header="抄表状态"></p-column>
    </p-dataTable>

    <div #userPayDmroom></div>
</div>
